.footer {
    width: 100%;
    background-image: url('../images/footer/footer-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

.footer .container.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;    
    margin: 10px auto;
    padding: 80px;

    background: url('../images/footer/undraw_multitasking_hqg3.png');
    background-position-x: right;
    background-position-y: center;
    background-size: cover;


    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);    
}

@media only screen and (max-width: 1370px) {
    .footer .container.content {
        max-width: 90%;
    }
}

@media only screen and (max-width: 720px) {
    .footer .container.content { 
        padding: 20px;
        background: #fff;
    }
}

.footer .container.content h1 {
    color: #521b83;
    margin-bottom: 30px;
}

.footer .container.content p {
    color: #521b83;
    margin-bottom: 20px;
    font-size: 18px;
    max-width: 650px;
}

.footer .container.content a {
    background-color: transparent;
    text-decoration: none;
    color: #521b83;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 4px;
    border: 2px solid rgba(69, 23, 110, 0.1);
    transition: 0.2s;
}

.footer .container.content a:hover {
    color: #fff;
    background-color: rgba(62, 32, 135, 0.8);
    transition: 0.2s;
}

.footer .container.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.footer .container.banner img {
    max-width: 250px;
}

.footer .container.links {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.footer .container.links .copyright, .social-media a {
    color: #521b83;
    font-weight: 600;
    opacity: 0.6;
}

.footer .container.links .social-media a{
    margin-left: 10px;
    font-size: 18px;
}