/* HOME SECTION */
.home {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 2000px) {
  .home {
    min-height: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    min-height: 100vh;
  }
}

.home .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.home .text-content h1 {
  font-size: 42px;
  color: rgba(62, 32, 135, 0.7);
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(62, 32, 135, 0.7);
  margin-bottom: 30px;
}

.home .text-content p {
  font-size: 18px;
  color: rgba(62, 32, 135, 0.5);
  text-align: justify;
  line-height: 1.8;
}

.home .text-content button {
  padding: 15px 20px;
  background-color: rgba(62, 32, 135, 0.5);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.3s;
}

.home .text-content button:hover {
  background-color: rgba(62, 32, 135, 0.8);
  transition: 0.3s;
}

.home .image-content {
  padding: 30px;
}

.home .image-content img {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 2000px) {
  .home .text-content {
    width: 50%;
  }
  .home .image-content {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .home .text-content {
    width: 100%;
  }
  .home .image-content {
    width: 100%;
  }
}
/* END HOME SECTION */

/* SERVICES SECTION */
.services.container {
  margin: 100px auto;
}

  /* SECTION HEADER */
.services.container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
}

div.services .title h1 {
  text-align: center;
  margin: 15px;
  color: #45176e;
}

  /* CONTENT SECTION */
div.services .content {
  padding-top: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1.3fr;
}

@media only screen and (max-width: 768px) {
  .services.container .content {
    gap: 30px;
    grid-template-columns: 1fr;
  }
}

  /* CARD SECTION */
.services.container .content .card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  top: 100px; 
  min-height: 500px;
  margin: 50px 30px auto; 
  padding: 50px;
  background-color: rgba(215, 192, 238, 0.2);
  border-radius: 6px;
  border: none;
}

.card h2 {
  color: #33055e;
}

.card p {
  color: rgba(62, 32, 135, 0.8);
  line-height: 2;
}

.card a {
  padding: 20px 25px;
  background-color: rgba(62, 32, 135, 0.5);
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  transition: 0.3s;
}

.card a:hover {
  background-color: rgba(62, 32, 135, 0.8);
  color: #fff;
  transition: 0.3s;
}

  /* ITEM SECTION */
.services.container .content .item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
  padding: 20px;
  margin: 10px 15px;
  border-radius: 8px;
  border: 2px solid transparent;
}

@media only screen and (max-width: 500px) {
  .services.container .content .item {
    flex-direction: column;
  }

  .services.container .content .item .item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services.container .content .services-items .item .item-content p {
    text-align: center;
  }
}

.services.container .content .services-items .item:hover {
  background-color: rgba(215, 192, 238, 0.1);
  border: 2px solid rgba(215, 192, 238, 0.4); 
  transition: 0.2s;
}

.services.container .content .services-items .item img {
  width: 150px;
}

.services.container .content .services-items .item h2 {
  margin: 15px auto;
  font-size: 20px;
  text-transform: uppercase;
  color: #33055e;
  transition: 0.3s;
}

.services.container .content .services-items .item:hover h2 {
  color: rgba(138, 44, 226, 0.8);
  transition: 0.3s;
}

.services.container .content .services-items .item p {
  max-width: 400px;
  text-align: left;
  color: rgba(62, 32, 135, 0.8);
  transition: 0.3s;
}

.services.container .content .services-items .item:hover p {
  color: #33055e;
  transition: 0.3s;
}

.services.container .content .services-items .item a {
  background-color: transparent;
  color: rgba(62, 32, 135, 0.5);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  transition: 0.2s;
}

.services.container .content .services-items .item a:hover {
  color: #45176e;
  transition: 0.2s;
}

.services.container .content .services-items .item a i {
  transition: 0.2s;
}

.services.container .content .services-items .item a:hover i {
  margin-left: 5px;
  transition: 0.2s;
}
/* END SERVICES SECTION */






/* PORTFOLIO SECTION */
section.portfolio-section {
  background: url(../images/index/portfolio-background-section.png);
  background-position: bottom;
  background-size: cover;
  margin: 150px auto;
}

.portfolio.container {
}

.portfolio.container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
}

.portfolio.container .title h1 {
  text-align: center;
  margin: 20px;
  color: #45176e;
}

.portfolio.container .title p {
  max-width: 1000px;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
  margin: 15px;
  text-align: center;
  color: #33055e;
}

.portfolio.container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto 50px;
}

.portfolio.container .content .item {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 2000px) {
  .portfolio.container .content .item {
    width: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio.container .content .item {
    width: 100%;
  }
}

.portfolio.container .content .item img {
  width: 100%;
  border-radius: 8px;
}

.portfolio.container .content .item h2 {
  color: rgba(138, 44, 226, 0.8);
  margin-top: 15px;
}

.portfolio.container .content .item p {
  color: #33055e;
}

.portfolio.container .action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio.container .action button {
  padding: 15px 20px;
  background-color: rgba(62, 32, 135, 0.5);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.3s;
}

.portfolio.container .action button:hover {
  background-color: rgba(62, 32, 135, 0.8);
  transition: 0.3s;
}

/* TESTIMONIALS SECTION */
.testimonials .container-fluid .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials .container-fluid .title h1 {
  text-align: center;
  margin: 50px auto;
  color: #45176e;
}

.testimonials .container-fluid .owl-carousel {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
}

.testimonials .container-fluid .owl-carousel .item {
  max-width: 900px;
  width: 90vw;
  padding: 50px;
  background-color: rgba(215, 192, 238, 0.05);;
  border-radius: 6px;
  border: 2px solid rgba(215, 192, 238, 0.2);
}

@media only screen and (max-width: 600px) {
  .testimonials .container-fluid .owl-carousel .item {
    width: 90vw;
  }

  .testimonials .container-fluid .owl-carousel .item .brand-container a {
    margin-top: 10px;
  }
}

.testimonials .container-fluid .owl-carousel .item .quotes-icon {
  width: 30px;
  margin-top: 50px;
  z-index: 5;
}

.testimonials .container-fluid .owl-carousel .item .brand-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  background-color: rgba(215, 192, 238, 0.2);
  border-radius: 16px;
  padding: 8px 6px;
}

@media only screen and (max-width: 500px) {
  .testimonials .container-fluid .owl-carousel .item .brand-container {
    flex-direction: column;
    justify-content: space-between;
  }
}

.testimonials .container-fluid .owl-carousel .item .brand-container img {
  background-color: #fff;
  height: 80px;
  width: auto;
  border-radius: 16px;
}

.testimonials .container-fluid .owl-carousel .item .brand-container a {
  color: rgba(138, 44, 226, 0.8);
  margin-right: 10px;
}

.testimonials .container-fluid .owl-carousel .item p {
  margin-top: 10px;
  color: #33055e;
  line-height: 2;
}