nav {
  position: fixed;
  width: 100%;    
  box-sizing: border-box;  
  z-index: 5;
}

nav div.navbar {        
  overflow: hidden;
  max-width: 1300px;
  height: 100%;
}

.navLg {
  height: 120px;
  transition: .5s;
}

.navSm {
  height: 90px;
  background: rgba(255,255,255,1);
  transition: .5s;
  box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.1);
}

div.navbar div {        
  flex-direction: row;
  align-content: center;
}

div.navbar div ul {    
  width: 100%;        
  list-style: none;
  margin: auto 50px;
}

div.navbar div ul li {
  margin-left: 30px;
  display: inline;    
}

div.navbar div ul li:hover{
  border-bottom: 2px solid rgba(62, 32, 135, 0.8);
  transition: 0.3s;
}

div.navbar div ul li a {
  text-decoration: none;
  color: #393E41;
  font-weight: 500;
  font-size: 15px;
  transition: .3s;
}

div.navbar div ul li a.contact {
  /* background: linear-gradient(120deg, #9425ea 0%, #6625ea 100%); */
  background-color: rgba(62, 32, 135, 0.8);
  color: white;
  border-radius: 6px;    
  padding: 10px 20px;
  transition: .3s;
}

div.navbar div ul li:hover a.contact {
    color: #fff;
    background-color: rgba(62, 32, 135, 1);
    border: none;
}


div.navbar div ul li:hover a {
  color: rgba(62, 32, 135, 0.8);
}

div.navbar div ul li a.active {
  color: rgb(62, 32, 135); 
  transition: .3s;
}

button.button-mobile-nav {
  color: #fff;
  background-color: rgba(62, 32, 135, 0.8);
  border: none;
  border-radius: 6px;    
  padding: 15px 25px;    
}

/*mobile*/
@media (min-width : 320px) {
  div.itens-desktop-nav {
      display: none;
      background-color: transparent;
  }

  button.button-mobile-nav {
      display: block;
  }
}

/*desktop*/
@media (min-width : 780px) {
  div.itens-desktop-nav {
      display: flex;
  }
  
  button.button-mobile-nav {
      display: none;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%;    
  width: 0;    
  position: fixed;    
  z-index: 1;    
  top: 0;    
  left: 0;
  background-color: rgb(62, 32, 135);
  overflow-x: hidden;           
  transition: 0.3s;    
  padding: auto;
  z-index: 10;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}
