.container {
  max-width: 90%;
}


.projects {
}

.projects .container {
  margin: 0 auto;
  padding: 30px;
}

.projects .container .actions {
}

.projects .container .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.content .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .item img {
  max-width: 100%;
  border-radius: 16px;
}
